/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

/* Style the body with a background gradient and center the content vertically and horizontally */
body {
  display: flex;
  justify-content: center;
  text-align: center; 
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #d42d10, #5200f5);
}

/* Style the container that holds the game */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background: #d58b01;
  padding: 40px 60px;
}

/* Style the game board containing the cards */
.card-game {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  transform-style: preserve-3d;
  perspective: 540px;
}

/* Style individual card elements */
.emoji-card {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #ffffff;
  transform: rotateY(180deg);
  transition: 0.25s;
}

/* Style the back side of the cards */
.emoji-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f69d2a;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

/* Apply a rotation effect when a card is turned */
.emoji-card.card-turn {
  transform: rotateY(0deg);
}

/* Apply a rotation effect to matched cards */
.emoji-card.card-turn::after,
.emoji-card.card-match::after {
  transform: rotateY(180deg);
}
